body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  text-align: left;
}

textarea {
  width: 100%;
}
